html{
    border-radius: 8px;
    background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600');
}
body{
    width: 280px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#jokeElement{
    display: inner-flex;
    padding: 20px;
    margin: auto 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    font-size: larger;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;

}
